<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue intro</title>
</head>

<body>
    <div id="myApp">
        <h3>Batman quotes {{totalQuotes}}</h3>
        <input type="text" placeholder="Add quote" @keypress.enter="addQuote" v-model="newMessage">
        <hr>
        <button @click="showAuthor = !showAuthor">
            Toggle Author
        </button>

        <!-- <button @click="toggleAuthor">
            Toggle Author
        </button> -->
        <!-- <button @click="addQuote">
            Add Quote
        </button> -->

        <ul v-for="({quote, author}, index) in quotes">
            <li>
                <span>{{index + 1}} - {{quote}}</span>
                <!-- <blockquote v-if="showAuthor">{{author}}</blockquote> -->
                <blockquote v-show="showAuthor">{{author}}</blockquote>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>

</html>